<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test Suite">
    <parameter name="browser" value="chrome"></parameter>
    <test verbose="2" preserve-order="true" name="C:/Users/Ahmed/IdeaProjects/DeepDiveIntoSeleniumWebDriver/taf">
        <classes>
            <class name="tests.AddProductToShippingCartTest"></class>
            <class name="tests.AddReviewTest"></class>
            <class name="tests.AddToWishlistTest"></class>
            <class name="tests.ChangeCurrencyTest"></class>
            <class name="tests.CheckoutAsGuestUser"></class>
            <class name="tests.CheckoutAsRegisteredUserTest"></class>
            <class name="tests.CompareProductsTest"></class>
            <class name="tests.ContactUsTest"></class>
            <class name="tests.DownloadPDFInvoice"></class>
            <class name="tests.EmailProductToFriendTest"></class>
            <class name="tests.LoginTest"></class>
            <class name="tests.MyAccountTest"></class>
            <class name="tests.NotebookHoverMenuTest"></class>
            <class name="tests.PrintOrderInformationTest"></class>
            <class name="tests.SearchProductTest"></class>
            <class name="tests.SearchProductUsingAutoSuggest"></class>
            <class name="tests.UserRegistrationTest"></class>
        </classes>
    </test>
</suite>